.anime-list {
    &__element {
        display: flex;
        align-items: flex-start;
        padding: 16px;
        border: 1px solid #dadada;
        margin-bottom: 32px;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        &:hover {
            border: 1px solid #85b7d9;
        }
    }
    &__image img {
        width: 125px;
    }
    .content {
        margin-left: 16px;
    }
    a {
        color: #000000;
    }
}

@media screen and (max-width: 450px) {
    .anime-list {
        &__image {
            img {
                width: 75px;
            }
        }
        &__element {
            margin-bottom: 16px;
            .header {
                font-size: 1.2rem;
            }
        }
    }
}